* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

#timeline {
  font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100dvw;
    height: 40dvh;
    overflow: hidden;
    background-color: var(--main-back-color);
    padding: 4px 4px 4px 4px;
}

.icon-button {

}

  ul div {
    height: 32px;
    background-color: gray;
    border-bottom: 4px solid var(--main-back-color);
  }

