* {
    box-sizing: border-box;
    touch-action: none;
}

:root {
    --nodecursor: 'move';
    --nodesize: 12px;
    --nodeselectedsize: 16px;
    --labelWidth: 100px;
    --row-height: 64px;
    --line-row-height: 32px;
    --line-row-collapse-height: 20px;
    --main-text-color: #ffffff;
    --header-back-color: #292a2e;
    --main-back-color: #2f3137;
    --graph-back-color: #50515a;
    --scale-height: 32px;
    --scale-back-color: #b7b7b7;
    --cursor-color: #ff980099;
    --cursor-text-color: #292a2e;
    --sb-track-color: #28292e;
    --sb-thumb-color: #616470;
    --sb-size: 14px;
    touch-action: none;
}

body {
    touch-action: none;
}

div {
    touch-action: none;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: var(--sb-size);
    width: var(--sb-size);
  }
  *::-webkit-scrollbar-track {
    border-radius: var(--sb-size);
    background-color: #28292e
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #37383f;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #37383f;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: calc(var(--sb-size) - 2px);
    background-color: #616470;
    border: 1px solid #28292e;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #6f7280;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6f7280;
  }

.valueAt-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    background-color: var(--main-back-color);
    color: var(--main-text-color);
    overflow: hidden;
    user-select: none;
    padding: 5px 5px 0px 5px;
    position: relative;
    width: 100%;
    height: 100%;
}

.valueAt-scroll-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.valueAt-linewrap {
    background-color: var(--graph-back-color);
    border-top: 4px solid var(--main-back-color);
    z-index: 5;
}

.valueAt-group{
    color: white;
    position: relative;
}

.valueAt-group-label {
    color: white;
    border-bottom: 4px solid var(--main-back-color);
    position: relative;
    z-index: 10;
}
.valueAt-group-caret {
    display: inline-block;
    width: 20px;
}
.valueAt-group-label-span {

}

.valueAt-expand {
    position: relative;
    width: 100%;
    z-index: 9;
}

.valueAt-expand-collapse {
    position: absolute;
    top: 0px;
    height: var(--line-row-collapse-height);
    opacity: 0.3;
}

.valueAt-flex-hor{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.valueAt-line{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 4px solid var(--main-back-color);
    height: var(--line-row-height);
    width: 100%;
    z-index: 0;
}

.valueAt-line-collapse {
    position: absolute;
    height: var(--line-row-collapse-height);
    overflow: hidden;
}

.valueAt-header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    background-color: var(--header-back-color);
    z-index: 10;
}

.valueAt-remaining {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    flex:5;
    bottom: 0px;
}

.valueAt-footer {
    height: 24px;
    background-color: var(--header-back-color);
}

.valueAt-scale {
    display: flex;
    align-items: center;
    height: var(--scale-height);
    overflow: unset;
    background-color: var(--scale-back-color);
    z-index: 10;
    width: 100%;
}

.valueAt-scroll-bar {       
    overflow-y: scroll;
    background-color: #28292e;
}



.valueAt-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow: hidden;
}

.valueAt-cursor-area {
    z-index: 10;
}

.valueAt-scrollbar {
    overflow-x: scroll;
    background-color: #28292e;
    height: 24px;
    padding-bottom: 0;
    z-index: 15;
    font-size: 0.7em;
    color:#6d6e6f;
}

.valueAt-scroll-content {
    width: 120%;
    height: 1px;
}

.valueAt-v-size {
    background-color: #b0b0b0;
    height: 100%;
    grid-area: 1 / 4 / 10 / 4;
    background: linear-gradient(90deg, rgba(176,176,176,1) 0%, rgba(130,130,130,1) 21%, rgba(122,122,122,1) 84%, rgba(59,58,58,1) 100%);
}

.inlinelabelcontrolpair{
    display: flex;
    gap: 5px;
    text-wrap-mode: nowrap;
}

.valueAt-background {
    background: linear-gradient(90deg, #28292ecc 0px, #28292ecc 110px, #28292e00 130px, #28292e00 100%);
}

.valueAt-line-label{
    position: absolute;
    color: white;
    left: 0px;
    top: -2px;
    right: 0px;
    bottom: -2px;
    text-wrap-mode: nowrap;
    z-index: 25;
    pointer-events: none;
}

.valueAt-line-label span {
    position: relative;
    vertical-align: -webkit-baseline-middle;
}


.valuesAt-svg {
    height: 100%;
    width: 100%;
    stroke: white;
    stroke-width: 1px;
    z-index: 20;
}

.valueAt-node {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffff83ad;
    aspect-ratio: 1 / 1;
    height: var(--nodesize);
    cursor: var(--nodecursor);
    transform: translate(-50%,50%);
    z-index: 24;
}

.valueAt-node-active {
    height: var(--nodeselectedsize);
    border: 1px solid #ffff00;
    background-color: #ff0000ad;
}

.valueAt-node-selected {
    height: var(--nodeselectedsize);
    border: 1px solid #ffff00;
    background-color: #f00;
}

.valueAt-h-scroll{
    height: 12px;
}

.valueAt-select-box{
    position: absolute;
    border: 1px solid rgb(232, 232, 232);
    z-index: 1000;
}

#cursor {
    display: flex;
    left: 0px;
    position: absolute;
    width: 1px;
    height: 100vh;
    border: 1px solid var( --cursor-color );
    z-index: 100;
    justify-content: center;
    cursor: ew-resize;
    transform: translate(-50%, calc(50% + 10px));
}

#scrollslider {
    width: 300px;
}


#cursorlabel {
    border: 2px solid var( --cursor-color );
    color: var(--cursor-text-color);
    height: fit-content;
    padding: 0px 9px;
    border-radius: 8px;
    cursor: ew-resize;
    transform: translate(0px, -21px);
}

.valueAt-cursor-area input {
    width: 100%;
}

#scale{
    height: 100%;
    background-color: #4f5059;
    margin-right: var(--sb-size);
}

.caret-down {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);  
  }
