* {
    box-sizing: border-box;
    touch-action: none;
}

:root {
    --header-height: 32px;
    --scale-row-height: 64px;
    --line-row-height: 32px;
    --line-row-collapse-height: 20px;
    --nodecursor: 'move';
    --nodesize: 12px;
    --nodeselectedsize: 16px;
    --label-width: 140px;
    --main-text-color: #ffffff;
    --line-color: #2b2b2b;
    --label-back-color: #212121;
    --header-back-color: #181818;
    --group-header-back-color: #232323;
    --group-label-back-color: #181818;
    --main-back-color: #1f1f1f;
    --graph-back-color: #313131;
    --scale-back-color: #989898;
    --cursor-color: #ff9900;
    --cursor-text-color: #000000;
    --sb-track-color: #28292e;
    --sb-thumb-color: #616470;
    --sb-size: 14px;
    touch-action: none;
}

body {
    touch-action: none;
}

div {
    touch-action: none;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: var(--sb-size);
    width: var(--sb-size);
  }
  *::-webkit-scrollbar-track {
    background-color: #1f1f1f;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #37383f;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #37383f;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: calc(var(--sb-size) - 2px);
    background-color: var(--sb-thumb-color);
    bborder: 1px solid #28292e;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #6f7280;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6f7280;
  }

.valueAt-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    background-color: var(--main-back-color);
    color: var(--main-text-color);
    overflow: hidden;
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.valueAt-header {
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    height: var(--header-height);
    background-color: var(--header-back-color);
    z-index: 10;
}

.valueAt-scale {
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--scale-back-color);
    z-index: 10;
    width: 100%;
    height: var(--scale-row-height);
}

.valueAt-cursor{
    display: flex;
    position: absolute;
    top: var(--header-height);
    width: 1px;
    height: 100%;
    border: 1px solid var( --cursor-color );
    z-index: 100;
    justify-content: center;
    cursor: ew-resize;
    transform: translate(-50%, 0px);
}

.valueAt-scroll-container {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.valueAt-linewrap {
    background-color: var(--graph-back-color);
    border-top: 4px solid var(--main-back-color);
    z-index: 5;
}

.valueAt-scrollbar {
    overflow-x: scroll;
    background-color: #28292e;
    z-index: 15;
    font-size: 0.7em;
    color:#6d6e6f;
}

.valueAt-remaining {
    height: 100px;
    z-index: 10;
    background-color: var(--main-back-color);
}

.valueAt-footer {
    height: 24px;
    width: 100%;
    background-color: var(--header-back-color);
}

.valueAt-group{
    position: relative;
}

.valueAt-group-header{
    background-color: var(--group-header-back-color);
    border-bottom: 1px solid var(--line-color);
}

.valueAt-group-label {
    background-color: var(--group-label-back-color);
    position: relative;
    padding: 2px 0px;
    width: var(--label-width);
    height: var(--line-row-height);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valueAt-group-label.valueAt-collapse{
    display: none;
}

.valueAt-group-caret {
    display: inline-block;
    width: 20px;
    height: 22px;
}

.caret-down {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    -webkit-transform-origin: 27% 40%;
    transform-origin: 27% 40%;
}

.valueAt-group-label-span {
    cursor: pointer;
    margin-left: 5px;
}

.valueAt-expand {
    position: relative;
    width: 100%;
    z-index: 9;
}

.valueAt-expand.valueAt-collapse {
    position: absolute;
    top: 0px;
    hheight: var(--line-row-collapse-height);
    opacity: 0.3;
}

.valueAt-flex-hor{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.valueAt-line{
    display: flex;
    align-items: center;
    position: relative;
    bborder-top: 1px solid var(--line-color);
    bborder-bottom: 1px solid var(--line-color);
    height: var(--line-row-height);
    width: 100%;
    z-index: 0;
}

.valueAt-line.valueAt-collapse {
    position: absolute;
    hheight: var(--line-row-collapse-height);
    overflow: hidden;
}

.valueAt-scroll-bar {       
    overflow-y: scroll;
    background-color: #28292e;
}



.valueAt-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow: hidden;
}

.valueAt-scrollbar {
    overflow-x: scroll;
    background-color: #28292e;
    z-index: 15;
    font-size: 0.7em;
    color:#6d6e6f;
}

.valueAt-scrollbar div {
    height: 1px;
    background-color: var(--main-back-color);
}

.valueAt-v-size {
    background-color: #b0b0b0;
    height: 100%;
    grid-area: 1 / 4 / 10 / 4;
    background: linear-gradient(90deg, rgba(176,176,176,1) 0%, rgba(130,130,130,1) 21%, rgba(122,122,122,1) 84%, rgba(59,58,58,1) 100%);
}

.inlinelabelcontrolpair{
    display: flex;
    gap: 5px;
    text-wrap-mode: nowrap;
    margin-right: 10px;
}

.inlinelabelcontrolpair input{
    width: 100px;
}

.valueAt-line-label{
    text-wrap-mode: nowrap;
    z-index: 25;
    width: var(--label-width);
    height: 100%;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    background-color: var(--label-back-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
;
    justify-content: space-between;
}

.valueAt-hide {
    display: none;
}

.valueAt-hide-label.valueAt-hidden{
    color: red;
}

.valueAt-line-label.valueAt-collapse{
    display: none;
}

.valueAt-line-label span {
    position: relative;
    vertical-align: -webkit-baseline-middle;
}

.valueAt-svg-wrapper{
    position: relative;
    height: 100%;
    flex: 1;
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

.valuesAt-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    stroke: white;
    stroke-width: 1px;
    z-index: 20;
}

.valueAt-node {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffff83ad;
    aspect-ratio: 1 / 1;
    height: var(--nodesize);
    cursor: var(--nodecursor);
    transform: translate(-50%,50%);
    z-index: 24;
}

.valueAt-node-active {
    height: var(--nodeselectedsize);
    border: 1px solid #ffff00;
    background-color: #ff0000ad;
}

.valueAt-node-selected {
    height: var(--nodeselectedsize);
    border: 1px solid #ffff00;
    background-color: #f00;
}

.valueAt-h-scroll{
    height: 12px;
}

.valueAt-select-box{
    position: absolute;
    border: 1px solid rgb(232, 232, 232);
    z-index: 1000;
}

.valueAt-cursor div {
    border: 2px solid var( --cursor-color );
    color: var(--cursor-text-color);
    font-weight: 500;
    background-color: #ffffff;
    height: fit-content;
    padding: 0px 9px;
    border-radius: 8px;
    cursor: ew-resize;
}

.valueAt-cursor-area input {
    width: 100%;
}

#scale{
    height: 100%;
    background-color: #4f5059;
    margin-right: var(--sb-size);
}


